@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainFont: "Pixelify Sans", serif;
}

.light-theme {
  --fgClr: #191d2b;
  --bgClr: #e6e6e6;
  --mainClr: #2b93c2;
}

.dark-theme {
  --fgClr: #e6e6e6;
  --bgClr: #191d2b;
  --mainClr: #35aa90;
}

.anim-glow-drop-shadow:hover{
  animation: glowing-drop-shadow 3s infinite ease-in-out;
}

@keyframes glowing-drop-shadow{
  0% { filter: drop-shadow(0 0 4px var(--mainClr))}
  50% { filter: drop-shadow(0 0 16px var(--mainClr)) }
  100% { filter: drop-shadow(0 0 4px var(--mainClr))}
}

@layer components {
  * {
    @apply box-border;
  }

  body {
    @apply relative overflow-x-hidden overflow-y-auto;
  }

  #particles canvas {
    @apply absolute -z-50;
  }

  header,
  main,
  footer {
    @apply relative w-full px-[10%] lg:px-[20%];
  }

  section,
  div,
  ul,
  li {
    @apply relative;
  }

  h1 {
    @apply relative font-bold text-5xl sm:text-6xl lg:text-7xl xl:text-8xl;
  }

  h2 {
    @apply relative font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl;
  }

  h3 {
    @apply relative font-bold text-xl sm:text-2xl lg:text-3xl xl:text-4xl;
  }

  h4 {
    @apply relative font-semibold text-lg sm:text-xl lg:text-2xl xl:text-3xl;
  }

  p {
    @apply relative font-normal text-base sm:text-lg lg:text-xl;
  }

  span {
    @apply relative font-light text-sm sm:text-base lg:text-lg;
  }

  a,
  .char,
  .word {
    @apply relative font-mainFont text-fgClr hover:text-mainClr;
  }
  
  svg {
    @apply relative block size-full;
  }

  img {
    @apply relative block size-full object-fill border-[6px] border-fgClr hover:border-mainClr;
  }
}
